@charset "UTF-8";

nav.menu ul {
  gap: 20px;
}
.bandeira{
    flex-direction: row;
    background-image: url(../imagens/banner.jpg);
  background-position: top;
}

.bandeira div{
  position: absolute;  
  top: 50%;
  left: 25%; 
  transform: translate(-30%, -50%);
  width: 400px;
  
  
}

.imagem-destaque{
  width: 55%;

}

.areas{
  font-size: 0.8em;

}

.ft-atuacao{
height: 700px;

}



.txt-advogado{
  width: 80%;
}

.card-img{
  height: 200px;
}


  .links-uteis > li{
    font-size: 1.2em;
    margin: 20px 0px;
  }
  
  .form {
  
    font-size: 1.125rem;

  }

  .links-uteis > li{
    font-size: 1.2em;
    margin: 20px 0px;
  }

