@charset "UTF-8";

.logo img{
    width: 140px;
}

.bandeira{
    margin: 80px auto 0px auto;;
}

.bandeira div{
    width: 300px;
    font-size: 0.8em;
    left: 30%;
  }
  

.iarea{
margin: auto;
width: 30px;
height: 30px;
}

.chamada-acao{
padding: 0px 20px 20px 20px;
}

.card{
    width: 300px;
    height: 450px;
    padding-bottom: 20px;
    
  }

.ft-advogado{
    width: 300px;
}


.txt-advogado ul{
    line-height: 1.5em;
}

.txt-advogado ul h1{
    font-size: 1.2em;
}


.h1-chamada{
    font-size: 1.6em;
  }

.form input,
.form textarea,
.form button {

  width: 150px;
 

}

.btn-nome{
    margin-top: 20px;
}